.mat-table {
    width: 100%;
    max-width: 100%;
    margin: 20px auto;
    overflow-x: auto;
}

.mat-column-actions {
    text-align: right;
}

.mat-cell{
    min-width: 300px;
}

button.mat-icon-button {
    margin-left: 5px;
}
